body{
    margin: 0px;

}
.navbar ul{
    list-style: none;
    display: flex;
    width: 50%;
    height: 30px;
    justify-content: space-evenly;
    position: relative;
    color: white;
    left: 50%;
    
    
}
.navbar {
    width: 100%;
    background-color: #DC2F02;
    position: absolute;
    top: 0;
}
.banner {
    position: absolute;
    width: 100%;
    height: 70vh;
    opacity: 0.4;
    overflow: hidden;

}

#bb{
    position: absolute;
    z-index: -4;
    width: 100%;
}

.content {
    width: 30%;
    height: 50%;
    position: absolute;
    border-radius: 1.25rem;
    z-index: 1;
    bottom: 10%;
    left: 35%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 1);
}
.flag{
    position: absolute;
    width: 100%;
    bottom: 30%;
    text-align: center;
    color: black;
}
.flag h1{
    text-align: center;
    font-size: 2000%;
    color: white;
}
@media (max-width:720px) {
    .flag h1{
        text-align: center;
        font-size: 750%;
        color: white;
    }
    .flag {
        bottom: 60%;
    }

    
}
#toMenu {
    border-radius: 1.25rem;
    background-color: white;
}
#toMenu:hover {
    background-color: rgb(206, 88, 88);   
}
.bh {
    position: absolute;
    top: 70%;
    width: 100%;
    height: 20%; 
    background-image: url("../media/br.jpg");
    background-repeat: repeat-x;
    
}
@media (max-width:720px) {
    .bh {
        top: 50%;
    }
    
}

.sizes{
    
    display: flex;
    position: absolute;
    top: 100%;
    width: 100%;
    align-items: center;
    color: rgb(255, 64, 64);
    flex-direction: column;
}
.small {
    width: 200px;
    height: 200px;
    border-radius: 1.25rem;
    text-align: center;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.medium {
    width: 200px;
    height: 200px;
    border-radius: 1.25rem;
    text-align: center;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.large {
    width: 200px;
    height: 200px;
    border-radius: 1.25rem;
    text-align: center;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.selction {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}
.pizza {
    width: 100%;
    height: 30%;
}